---
const { text, link } = Astro.props;
---

<style>
    a {
        padding: 10px 20px;
        background-color: #333333;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        text-decoration: none;
    }

    a:hover {
        background-color: #818181;
    }
</style>
<a href={link}>{text}</a>