
<style>

    @media only screen and (min-width: 768px) {
        footer {
            margin: 3%;
            display: flex;
            justify-content: space-between;
        }
    }
</style>
<footer>
    <p>UG Action Media</p>
    <p>P.Iva</p>
    <p>3318544999</p>
    <p>Email:</p>
    <p>giovanniuguccioni23@gmail.com</p>
</footer>