# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# VIDEO FILES - Escludi tutti i file video
public/videos/*
# Mantieni la directory vuota con un file .gitkeep
!public/videos/.gitkeep