---
const { text } = Astro.props;
---
<style>
    .admin-panel-button {
        padding: 10%;
        background-color: #333333;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .admin-panel-button:hover {
        background-color: #818181;
    }
</style>
<button class="admin-panel-button">
    {text}
</button>