---
import MediaCard from "./MediaCard.astro";

const { medias } = Astro.props;
---

<div>
    <style>
        div {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
            gap: 20px;
            color: white;
            width: 100%;
            padding: 16px;
            box-sizing: border-box;
        }
    </style>
    {medias.map((media) => <MediaCard media={media} />)}
</div>
