---
import Layout from "../../layouts/Layout.astro";
import GestioneProgetti from "./GestioneProgetti.astro";
import GestioneMedia from "./GestioneMedia.astro";
import GestioneHomepage from "./GestioneHomepage.astro";
import Sidebar from "./Sidebar.astro";

const buttons = [
    { text: "Gestione Homepage", page: "homepage" },
    { text: "Gestione Progetti", page: "progetti" },
    { text: "Gestione Media", page: "media" },
]
---

<style>
    .container {
        display: flex;
    }
</style>
<Layout>
    <script src="../../scripts/page-switcher.js"></script>
    <div class="container">
        <Sidebar buttons={buttons}/>
        <GestioneHomepage />
        <GestioneProgetti />
        <GestioneMedia />
    </div>
</Layout>