---
import Layout from "../../layouts/Layout.astro";
import Panel from "./Panel.astro";
import Sidebar from "./Sidebar.astro";
---
<Layout>
    <div>
        <Sidebar />
        <Panel title="Gestione Homepage">

        </Panel>
    </div>
    <script>
        
    </script>    
</Layout>