---
const { title, pageId } = Astro.props;
---

<style>
    * {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .panel {
        background-color: #0f172a;
        width: 100%;
        margin-left: 15%;
        overflow-y: auto;
    }

    .panel header {
        color: #2563eb;
        border-bottom: 1px solid #475569;
        margin: 2% 4% 2% 4%;
    }

</style>
<div class="panel page" data-page-id={pageId}>
    <header>
        <h1>{title}</h1>
    </header>
    <slot />
</div>