---
import Button from "./Button.astro";

const { title, buttons } = Astro.props;
---
<style>
    .sidebar {
        display: flex;
        flex-direction: column;
        width: 10%;
    }

    .buttons-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
</style>
<aside class="sidebar">
    <h1>{title}</h1>
    <div class="buttons-container">
        {buttons.map((btn: any) => <Button text={btn}/>)}
    </div>
</aside>
