---
import About from "../components/Home/About.astro";
import CTA from "../components/Home/CTA.astro";
import Footer from "../components/Home/Footer.astro";
import Gallery from "../components/Home/Gallery.astro";
import Header from "../components/Home/Header.astro";
import Hero from "../components/Home/Hero.astro";
import Scripts from "../components/Home/Scripts.astro";
import Services from "../components/Home/Services.astro";
import Layout from "../layouts/Layout.astro";
import "../global.css"

// const url = new URL("/api/projects", Astro.request.url);
// const res = await fetch(url);
// const homeProjects = await res.json();
const homeProjects = [];
---

<Layout>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <div class="homepage">
        <Header />
        <Hero />
        <Gallery {homeProjects} />
        <About />
        <Services />
        <CTA />
        <Footer />
        <Scripts />
    </div>
</Layout>