---
import RoundedImage from "./RoundedImage.astro";
import Section from "./Section.astro";
---

<Section>
    <RoundedImage imageSrc="/images/supermoto.jpg" size={400} showRing={false} showFrame={false} />
    <div class="about-caption">
        <h2>Chi siamo</h2>
        <p>UG Action Media è un'azienda specializzata nella produzione cinematografica e nella creazione di contenuti visivi di alta qualità. Con un team di professionisti esperti, ci impegniamo a trasformare le vostre idee in immagini che raccontano storie coinvolgenti e memorabili.</p>
    </div>
    <div class="about-socials">

    </div>
</Section>