---
import MyTitle from "./MyTitle.astro";
import RoundedImage from "./RoundedImage.astro";
import Section from "./Section.astro";

const gradient = "linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(36, 36, 36, 1) 0%, rgba(0, 0, 0, 1) 100%)"
---

<style>
    .about-container {
        align-items: center;
        text-align: center;
        gap: 1.5rem;
        padding: 2rem;
    }

    .about-caption {
        font-size: larger;
    }

    @media only screen and (min-width: 768px) {
        .about-container {
            display: flex;
            flex-direction: row;
            width: 50%;
            margin: auto;
        }
    }
</style>

<Section background={gradient}>
    <div class="about-container">
        <div class="slide-item">
            <RoundedImage imageSrc="/images/about-me.jpg" size={400} showRing={false} showFrame={false} />
        </div>
        <div class="about-caption slide-item">
            <MyTitle title={"Chi siamo"}/>
            <p>UG Action Media è un'azienda specializzata nella produzione cinematografica e nella creazione di contenuti visivi di alta qualità. Con un team di professionisti esperti, ci impegniamo a trasformare le vostre idee in immagini che raccontano storie coinvolgenti e memorabili.</p>
        </div>
    </div>

    <script src="../../scripts/slide.js"></script>
    <script is:inline>

        document.addEventListener("DOMContentLoaded", () => {
            const animator = new FadeSlideEffect({
                duration: 800,
                distance: 50
            })

            const elements = document.querySelectorAll(".slide-item");
            elements.forEach(elem => {
                animator.applyTo(elem, {
                    trigger: 'scroll',  // Appare quando è visibile
                    threshold: 0.1      // Deve essere visibile almeno al 10%
                })
            })
        })
    </script>
</Section>