---
import Section from "./Section.astro";
import SpecialButton from "./SpecialButton.astro";
---

<style>
    .cta-image {
        width: 100%;
        height: 650px;
        background-image: url("/images/cta-banner.jpg");
        background-size: cover;
        display: flex;
        overflow: hidden;
    }
</style>

<Section>
    <div class="cta-image">
        <div class="cta-paragraph">
            <p>
                Change the workflow for your WordPress site, control everything
                from Site editor without using any extra plugins. Improved
                speed, web vitals score and SEO to get better positions
            </p>
            <SpecialButton text="Contattaci" />
        </div>
    </div>
</Section>
