---
import MyTitle from "./MyTitle.astro";
import Section from "./Section.astro";
import SpecialButton from "./SpecialButton.astro";
---

<style>
    .cta-image {
        width: 100%;
        height: 650px;
        background-image: url("/images/cta-banner.jpg");
        background-size: cover;
        overflow: hidden;
    }

    .cta-text {
        padding: 10%;
    }

    .cta-text * {
        margin: 10%;
    }
</style>

<Section>
    <div class="cta-image">
        <div class="cta-text">
            <h1>Sei pronto a iniziare un nuovo progetto con noi?</h1>
            <p>
                Change the workflow for your WordPress site, control everything
                from Site editor without using any extra plugins. Improved
                speed, web vitals score and SEO to get better positions
            </p>
            <div>
                <SpecialButton text="Contattaci" />
            </div>
        </div>
    </div>
</Section>
