---
---
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-col">
                <h3>UG Action Media</h3>
                <p>Produzione cinematografica e creazione di contenuti visivi di alta qualità.</p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            
            <div class="footer-col">
                <h3>Contatti</h3>
                <p><i class="fas fa-envelope"></i> giovanniuguccioni23@gmail.com</p>
                <p><i class="fas fa-phone"></i> +39 331 854 4999</p>
                <p><i class="fas fa-map-marker-alt"></i> Italia</p>
            </div>
            
            <div class="footer-col">
                <h3>Info</h3>
                <p>P.IVA: 3318544999</p>
                <p>Copyright © 2023 UG Action Media</p>
                <p>Tutti i diritti riservati</p>
            </div>
        </div>
        
        <div class="copyright">
            <p>Design & Sviluppo by UG Action Media</p>
        </div>
    </div>
</footer>