---
import Anchor from "./Anchor.astro";
import SpecialButton from "./SpecialButton.astro";
const { title, buttons, specialButton } = Astro.props;
---

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1%;
    }

    .logo-container {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    nav {
        display: flex;
        gap: 10px;
    }

    @media only screen and (max-width: 500px) {
        header nav {
            display: none;
        }
    }

</style>

<header>
    <div class="logo-container">
        <img src="" alt="logo" width="50px"/>
        <p>{title}</p>
    </div>
    <nav>
        {buttons.map((btn: any) => <Anchor text={btn.text} link={btn.link}/>)}
        <SpecialButton text={specialButton.text} />
    </nav>
</header>
