<style>
    .hero {
        height: 100vh;
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url("public/hero.avif");
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 20px;
    }

    .hero h1 {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 20px;
        line-height: 1.2;
    }

    .hero p {
        font-size: 1.5rem;
        max-width: 800px;
        margin-bottom: 40px;
        color: #cccccc;
    }
</style>
<section class="hero" id="home">
    <h1>La fotografia è l'arte di catturare momenti</h1>
    <p>
        Trasforma la tua creatività in vita attraverso immagini che raccontano
        storie uniche e memorabili
    </p>
    <a href="#contact" class="btn">Inizia un progetto</a>
</section>
