---
import ServiceCard from "../ServiceCard.astro";
import Section from "./Section.astro";
---

<Section>
    <h2>Di cosa ci occupiamo</h2>
    <div>
        <ServiceCard title="Produzione cinematografica" description="Creiamo film e video di alta qualità per ogni tipo di progetto." />
        <ServiceCard title="Creazione contenuti visivi" description="Realizziamo immagini e video che raccontano storie coinvolgenti." />
        <ServiceCard title="Servizi fotografici" description="Fotografia professionale per eventi, prodotti e personale." />
    </div>
</Section>