---
import Layout from "../../layouts/Layout.astro";
import "../../global.css"

export const prerender = false;

const { project } = Astro.params;

const buttons: any[] = [];
const specialButton = { text: "Contattami" };
---

<Layout>
    <h1>Project Page</h1>
    <p>This is a dynamic project page.</p>
    <p>Project: {project}</p>
</Layout>