<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>UG Action Media</title>
		<style>
			body {
				font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
				background-color: var(--dark);
				color: var(--text-light);
				margin: 0;
				line-height: 1.6;
				overflow-x: hidden;
			}
		</style>
	</head>
	<body>
		<slot />
	</body>
</html>
